.DS_Store
/node_modules
/.next
/out
/site

# Ignore next-mdx-enhanced cache directory
.mdx-data
.nova/Artwork
.nova/Configuration.json
package-lock.json
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/workspace.xml
package.json
.vscode/settings.json
