site_name: Progenetix Documentation
site_description: 'Documentation for the Progenetix oncogenomics resource'
site_author: Michael Baudis
copyright: '&copy; Copyright 2023, Michael Baudis and progenetix.org'
repo_name: progenetix-web
repo_url: https://github.com/progenetix/progenetix-web

# vars for common files (shared between sites) #################################

api_site_label: '[Progenetix](https://progenetix.org)'
api_web_root: https://progenetix.org
api_dataset_ids: progenetix

################################################################################

docs_dir: mkdocs-docs
extra_css:
  - css/theme_overrides.css

################################################################################

nav:
  - Documentation Home: index.md
  - News: news
  - Data Changes: changelog
  - Analysis in R - pgxRpi: pgxRpi
  - Use Case Examples: use-cases
  - Beacon+ API Use: common/beacon-api
  - Services API: services
  - File Formats: file-formats
  - Plotting & Visualizations: common/plotting
  - Classifications, Ontologies & Standards: common/classifications-and-ontologies
  - Publication Collection: publication-collection
  - Data Review: progenetix-data-review
  - Technical Notes: technical-notes
  - Progenetix Data &#8599;: http://progenetix.org
  - cancercelllines.org &#8599;: http://cancercelllines.org
  - Baudisgroup @ UZH &#8599;: http://baudisgroup.org

################################################################################

markdown_extensions:
  - toc:
      toc_depth: 2-3
      permalink: true
  - admonition
  - attr_list
  - footnotes
  - md_in_html
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.magiclink:
      hide_protocol: true
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.saneheaders
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - tables
  - mdx_gh_links:
      user: progenetix
      repo: progenetix-web
  - pymdownx.emoji:
        emoji_index: !!python/name:materialx.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

###############################################################################

theme:
  name: material
  palette:
    primary: deep orange
  favicon: img/site-logo-topright.png
  logo: img/site-logo-topright.png
  icon:
    repo: fontawesome/brands/github-alt
    admonition:
      example: octicons/list-ordered-24
  features:
    - content.tabs.link
    - search.highlight
    - search.share
    - navigation.instant
    - navigation.tracking
    - navigation.sections
  custom_dir: mkdocs-extra
      
plugins:
    - search
    - macros

extra:
  excerpt_separator: <!--more-->
  blog_list_length: 100
  social:
    - icon: fontawesome/brands/mastodon 
      link: https://genomic.social/@progenetix
    - icon: fontawesome/brands/github 
      link: https://github.com/progenetix
