@import "src/styles/variables";

.BioSubsets__tree {
  margin-bottom: 3rem;
}

.BioSubsets__controls {
  display: flex;
  & > * {
    margin-right: 0.5rem;
  }
  margin-bottom: 1rem;
}

.BioSubsets__tree__row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.BioSubsets__tree__cell {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

.BioSubsets__tree__info {
  display: flex;
  align-items: center;
}
