// variables is put in a separate file so we can reuse then in scoped css modules.
@import "./variables";

html,
body {
  height: 100%;
}

#__next {
  height: 100%;
}

@import "components/DataTable";
@import "components/ReactSelect";
@import "components/Layout";
@import "components/Panel";

@import "src/modules/beacon-plus/BeaconPlusPage";
@import "src/modules/beacon-plus/Nav";

@import "src/modules/subsets/BioSubsetsPage";

@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/_all";
@import "~bulma/sass/form/_all";
@import "~bulma/sass/components/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/helpers/_all";
@import "~bulma/sass/layout/_all";

@import "~leaflet/dist/leaflet.css";

.is-clickable {
  cursor: pointer;
}
