.stain--gpos100 {
  fill: hsl(0, 0%, 15%);
}
.stain--gpos75 {
  fill: hsl(0, 0%, 30%);
}
.stain--gpos66 {
  fill: hsl(0, 0%, 40%);
}
.stain--gpos50 {
  fill: hsl(0, 0%, 45%);
}
.stain--gpos33 {
  fill: hsl(0, 0%, 50%);
}
.stain--gpos25 {
  fill: hsl(0, 0%, 75%);
}
.stain--gvar {
  fill: hsl(0, 0%, 90%);
}
.stain--gneg {
  fill: hsl(0, 0%, 98%);
}
.stain--acen {
  fill: $purple;
}
.stain--stalk {
  fill: $blue;
}
