body {
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #727272;
  font-weight: 400
}

/* Sidebar header (and topbar for mobile) */
.wy-side-nav-search, .wy-nav-top {
  background: #dd6940;
}

/* Sidebar */
/**
.wy-nav-side {
  background: #ff6f48;
}
**/

li.toctree-l1 {
  font-size: 1.2em;
}

.admonition .details {
  font-size: 0.9em;
}