body {
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #727272;
  font-weight: 400
}

/* Sidebar header (and topbar for mobile) */
.wy-side-nav-search, .wy-nav-top {
  background: #dd6940;
}

/* Sidebar */
/**
.wy-nav-side {
  background: #ff6f48;
}
**/

li.toctree-l1 {
  font-size: 1.2em;
}

.admonition .details .example {
  font-size: 0.9em;
}

.md-typeset {
    line-height:1.4
}

.md-typeset ul {
    margin-bottom: 0.8em;
    margin-top:0.2em
}

.md-typeset ul li {
    margin-bottom:.1em
}

.md-typeset ul ul { list-style-type: circle; }

.md-typeset pre { font-size: 0.8em; }

.md-typeset h1 {
    font-size: 1.9em;
    margin:0 0 0.8em
}


.md-typeset h2 {
    font-size: 1.5em;
    line-height: 1.3;
    margin:1.4em 0 0.6em
}

.md-typeset h3 {
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 1.3;
    margin: 1em 0 0.4em
}

.md-typeset h4 {
    line-height: 1.3;
    letter-spacing: -.01em;
    margin: 0.8em 0 0.2em
}


